:root {
  background-color: rgba(8, 8, 8, 0.802);
  --primary-blue: #007bff;
  --primary-blue-hover: #0056b3;
  --border-primary: 2px solid black;
  --border-radius-primary: 8px;
  --border-radius-secondary: 16px;
}

* {
  padding: 0;
  list-style: none;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  width: auto;
  margin: 0 auto;
  padding: 0 3rem; /* Minimum space on left and right */
  overflow-x: hidden;
}

@media (max-width: 300px) {
  body {
    padding: 0;
  }
}

textarea,
p,
em,
strong,
button,
span,
h1,
h2,
h3,
label {
  white-space: pre-wrap;
  overflow-wrap: break-word; /* Break long words */
  margin: 0;
  padding: 0;
}

textarea,
input {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  border: none; /* Remove border */
  background: transparent; /* Remove background */
  font-family: inherit; /* Use inherited font */
  font-size: inherit; /* Use inherited font size */
  line-height: inherit; /* Use inherited line height */
  color: inherit; /* Use inherited text color */
  resize: none; /* Prevent resizing */
  overflow: hidden; /* Hide overflow */
  box-sizing: border-box; /* Use border-box sizing */
}
